@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

@font-face {
    font-family:"Balthazar";
    src: url("../../assets/fonts/Balthazar.ttf");
}

$nav-img: "../../assets/";

body {
    overflow-x: hidden;
}
.PartnersandInvestorsGallery {
    width:100vw;
    height:100vh;
    background-color: #E0D5F2;
    background-image: url("../../assets/images/Backers.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // overflow:hidden;
    //overflow-x: hidden;
    &__titleContainer {
        width:100vw;
        display: flex;
        justify-content: center;
        z-index: 1000;
        align-items: center;
        padding-top: 10em;
        &__highlightText {
            color:#8C5AE0;
        }
        p {
            font-family: 'Germania One';
            font-size:4rem;
            text-align: center;
        }
    }
    &__widgetContainer {
        width:100vw;
        &__box {
            
        }
    }
}