@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

@font-face {
    font-family:"Balthazar";
    src: url("../../../assets/fonts/Balthazar.ttf");
}

$nav-img: "../../assets/";

body {
    overflow-x: hidden;
}
.GuildScreen {
    width: 100vw;
    // height: auto;
    background-color: #0B0119;
    background-image: url("../../../assets/images/GuildBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // background-size: auto;
    // overflow:hidden;
    //overflow-x: hidden;
    &__titleContainer {
        width:100vw;
        display: flex;
        justify-content: center;
        z-index: 1000;
        align-items: center;
        padding-top: 10em;
        &__highlightText {
            color:#8C5AE0;
        }
        p {
            font-family: 'Germania One';
            font-size:4rem;
            text-align: center;
            color: #fff;
        }
    }
    &__widgetContainer {
        width:100vw;
        padding: 3em 20px 8em 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__Box {
            padding: 3em;
            align-content: center;
            // flex: 1 1 560px; // inline chp4
            iframe {
                border: 5px dashed #fff;
                border-radius: 6px;
                box-shadow: 3px 3px 3px 3px #b593f0;
                margin-bottom: 1em;
            }
            h2 {
                font-family: 'Germania One', cursive;
                font-size: 2em;
                color:beige;
            }
            .lore{
                font-family: 'Germania One', cursive;
                color:#8C5AE0;
            }
        }
    }
}