@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

@font-face {
    font-family:"Balthazar";
    src: url("../../../assets/fonts/Balthazar.ttf");
}

$nav-img: "../../assets/";

body {
    overflow-x: hidden;
}
.GuildScreen {
    width: 100vw;
    // height: auto;
    background-color: #0B0119;
    background-image: url("../../../assets/images/GuildBG.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // background-size: auto;
    // overflow:hidden;
    //overflow-x: hidden;
    &__titleContainer {
        width:100vw;
        display: flex;
        justify-content: center;
        z-index: 1000;
        align-items: center;
        padding-top: 10em;
        &__highlightText {
            color:#8C5AE0;
        }
        p {
            font-family: 'Germania One';
            font-size:4rem;
            text-align: center;
            color: #fff;
        }
    }
    &__Disclaimer{
        width:100vw;
        display: flex;
        justify-content: center;
        z-index: 1000;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 2em;

        p {
            font-family: 'Germania One';
            font-size: 4rem;
            text-align: center;
            color: #fff;
        }
    }
    .oneLiner {
        display: flex;
        justify-content: center;
        font-family: 'Balthazar';
        font-size: 1.5rem;
        color:#fff;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        // margin-bottom: 2em;
        text-align: center;
        // padding: 1em 4em;
    }
    &__widgetContainer {
        width:100vw;
        padding: 3em 1em 3em 1em;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &__Box {
            // padding: 2em 2em 0em 2em;
            align-content: center;
            text-align: center;
            vertical-align: auto;
            &__guild {
                align-items: center;
                align-content: center;
                .guildimg {
                    height: 300px;
                    width: 300px;
                }
            }
            // flex: 1 1 560px; // inline chp4
            h2 {
                font-family: 'Germania One', cursive;
                font-size: 3em;
                margin-top: 1em;
                // margin-bottom: 1.5em;
                color:#8C5AE0;

            }
            .lore{
                font-family: 'Germania One', cursive;
                color:#8C5AE0;
            }
            .oneLinerText {
                display: flex;
                justify-content: center;
                font-family: 'Balthazar';
                font-size: 1.5rem;
                color:#fff;
                width: 100%;
                // margin-left: auto;
                // margin-right: auto;
                // margin-top: 2em;
                // margin-bottom: 2em;
                text-align: center;
                // padding: 1em 4em;
            }
        }
    }
}